{% extends "base.html" %}

{% block title %}Articles{% endblock title %}

{% block content %}
{% for article in article_list %}
<div class="card">
    <div class="card-header">
        <span class="fw-bold">
            <a href="{% url "article_detail" article.pk %}">{{ article.title }}</a>
        </span> &middot;
        <span class="text-muted">
            by {{ article.author }} | {{ article.date|timesince }} ago
        </span>
    </div>
    <div class="card-body">
        <p>{{ article.body }}</p>
        {% if article.author.pk == request.user.pk %}
        <a href="{% url "article_edit" article.pk %}">Edit?</a> | 
        <a href="{% url "article_delete" article.pk %}">Delete?</a>
        {% endif %}
        <a href="{% url "article_detail" article.pk %}">New Comment</a>
    </div>
    
    <div class="card-footer">
        {% for comment in article.comment_set.all %}
        <p>
            <span class="fw-bold">
                {{ comment.author }} &middot;
            </span>
            {{ comment.comment }}
        </p>
        {% endfor %}
    </div>
    
</div>
{% endfor %}
{% endblock content %}